<!DOCTYPE html>
<html>
<head>
    <title>My Book Collection</title>
</head>
<body>
    <h1>My Book Collection</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
